extends layout

block content
    h1 Inventory
    p
        a(href='/') Home
    p 
        a(href='/products/product-create') Create Product
    ul
        each product in products
            li 
                a(href='/products/'+product.id) #{product.name}
            p
                img.image(src=product.image_path width='100px' height='100px') 