extends layout

block content
    h1 My Products
    p
        a(href='/') Home
    p 
        a(href='/products/product-create') Create Product
    ul
        each product in products
            li 
                a(href='/products/'+product.id) #{product.name}